/* Text Elements */

h1.site-title {
  margin-top: 0;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
}

h3.section-title {
  padding-top: 10px;
  text-align: center;
  font-style: normal;
  font-size: 24px;
}

h5.heading-1 {
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #20310a;
  color: #fff;
  font-size: 14px;
}

p.paragraph.section-paragraph {
  margin: 0 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-indent: 30px;
}

a.link-text.nav-button {
  position: static;
  display: block;
  padding: 10px;
  width: 100%;
  border-top-width: .0625rem;
  border-top-style: solid;
  border-right-width: .0625rem;
  border-right-style: solid;
  border-bottom: .0625rem solid rgba(255, 255, 255, .4);
  border-left-width: .0625rem;
  border-left-style: solid;
  background-color: #c08e75;
  color: #fff;
  text-align: center;
  font-size: 20px;
  opacity: 1;
}

a.link-text {
  background-color: #c08e75;
  background-image: none;
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: 0 0;
  background-repeat: no-repeat;
  color: #fff;

  background-blend-mode: normal;
}

a.link-text.nav-button:focus {
  background-color: #e12878;
}

a.link-text.nav-button:hover {
  background-color: #f0555c;
}

a.link-text.nav-button:active {
  background-color: #e12878;
}

/* Layout Elements */

.container.section-content {
  margin-top: 10px;
}

.container.nav-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #4f9fe4;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

.container.banner-container {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

.container.footer {
  background-color: #803280;
}

.container.footer-copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;
  background-color: #20310a;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

.container.donate-button-container {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

div.responsive-picture {
  min-height: 6px;
  max-width: none;
  width: 100%;
}

@media screen and (min-width: 40rem) {
  /* Text Elements */

  a.link-text.nav-button {
    padding-right: 20px;
    padding-left: 20px;
    max-width: none;
    width: 100%;
  }
}

@media screen and (min-width: 49.9375rem) {
  /* Text Elements */

  a.link-text.nav-button {
    max-width: none;
  }
}

@media screen and (min-width: 64rem) {
  /* Text Elements */

  h3.section-title {
    position: static;
    padding-top: 20px;
  }

  h5.heading-1 {
    background-color: transparent;
  }

  p.paragraph.section-paragraph {
    display: block;
    float: none;
    clear: none;
    margin-bottom: 20px;
    text-align: left;

    grid-area: auto /span 1/ auto /span 1;
  }

  a.link-text.nav-button {
    display: block;
    margin-top: 2px;
    margin-right: 0;
    margin-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 155px;
    width: 100%;
    background-color: #f0555c;
    text-align: center;
    text-indent: 0;
    white-space: nowrap;
    letter-spacing: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  a.link-text.nav-button:hover {
    background-color: #fdd0bc;
  }

  /* Layout Elements */

  .container.footer-copyright {
    position: static;
    display: grid;
    padding-top: 10px;
    background-color: #20310a;
    background-image: none;
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 0 0;
    background-repeat: no-repeat;
    color: #803280;
    vertical-align: bottom;

    background-blend-mode: normal;
  }

  .container.footer {
    background-color: #20310a;
    color: #0a0a0a;
  }

  .container.nav-wrapper {
    min-width: 11px;
    background-color: #f0555c;
  }

  .container.section-paragraph {
    float: right;
    clear: both;
    padding: 10px;
    width: 100%;
    vertical-align: bottom;
  }

  div.responsive-picture.picture-2 {
    position: static;
    float: left;
    margin: 20px 10px;
    min-height: 0;
    width: 50%;
    vertical-align: baseline;
  }

  div.responsive-picture.picture-1 {
    float: none;
    clear: both;
    margin: 5px 0;
    padding: 0 0 5px;
    min-height: 0;
    width: 100%;
  }

  div.responsive-picture.picture-3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  div.responsive-picture.picture-4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  div.responsive-picture.picture-2 > picture > img {
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}