@import url(./utility.css);

.container .know-us-box .card{
    background-color: var(--light-bg-color);
    border:none;
    
}

#why-volunteer{
    background-color: var(--main-color);
    color:var(--light-bg-color);
    text-align:center;
}


#why-volunteer::before {
    content: "";
    overflow: hidden;
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../images/icon/img-01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.double-border {
    border: 3px solid var(--light-bg-color);
    position: relative;
    width: 80%;
  }
  
.double-border:before {
    border: 3px solid var(--light-bg-color);
    content: "";
    display: block;
    position: absolute;
    top: -16px;
    left: 4px;
    right: -16px;
    bottom: 8px;
    pointer-events: none;
  }