@import url(./utility.css);

.header {
  background-image: 
  linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)),
  linear-gradient( to bottom,
      rgba(233, 109, 113, 0.60),
      rgba(250, 214, 161, 0.50)
  ),url("../images/homepage_logo.jpg");
  height: 80vh;
  z-index: 10;
  overflow: hidden;
  object-fit: fill;
  object-position: right 45%;
  background-size: cover;
  background-repeat: no-repeat;
}

.header svg {
  position: absolute;
  top: 0;
  left: 0;
}

.header-content {
  height: 50%;
}

#header-title {
  color: #ffffff;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.50);
}

#header-sub {
  font-weight: 200;
  color: #f1f0f0;
  text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.50);
}

#support-us {
  background: linear-gradient(rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)),
  /* linear-gradient(rgba(252, 252, 252, 0.8), rgba(252, 252, 252, 0.8)), */
    url("../images/Bird of Paradise.jpg");
}

#contact {
  background-color: #ecb6b7;
}

.principle {
  margin: 0.2rem;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.circle-placeholder {
  max-width: 150px;
  min-height:  150px;
  border-radius: 50%;
  background: #ecb6b7;
  border: 5px solid var(--light-bg-color);
  padding: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.objectives-card {
  background-color: white;
  font-weight: bold; 
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.objectives-card i{
  color:var(--main-color);
  margin: 0.5rem;
}


.principle:hover .circle-placeholder {
  transform: scale(1.2);
}

.principle-title {
  font-size: 1.5rem;
  color: #693133;
  font-weight: bold;
}

.principle-info {
  color: #a84f52;
  font-weight: bold;
  line-height: 1rem;
}

.principle-description {
  line-height: 1.2rem;
  text-align: center;
  color:#ffffff;
}

.btn-primary {
  background-color: #e96d71;
  border: 1px solid #e96d71;
  border-radius: 20px;
}
.btn-style a {
  text-decoration: none;
  color: #ffffff;
}
.learn-more-style {
  color: var(--dark-main-color) !important;
  font-weight: 500;
  transition: 0.3s ease;
}
.learn-more-style:hover {
  color: var(--light-main-color);
  text-decoration: none;
  font-weight: 700;
}
.btn-style:hover,
.btn-style:focus,
.btn-style:active,
.btn-style:active:focus,
.open > .dropdown-toggle.btn-style {
  background-color: #e24146 !important;
  border: 1px solid #e96d71;
  border-radius: 20px;
}

:root {
  --main-red: #e24146;
  --main-red-rgb-015: rgba(189, 21, 11, 0.1);
}

/* Cards */
.card {
  flex-wrap: wrap;
  display: flex;
  -shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 1.2rem 0;
  overflow: hidden;
  border: none;
  max-width: 100%;
  max-height: 100%;
}

.card a {
  color: inherit;
}

.card h5 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.postcard .small {
  font-size: 80%;
}

.card .postcard__img {
  height: 230px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.card-body .card-bar {
  width: 50px;
  height: 8px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: var(--main-red);
  transition: width 0.2s ease;
}
.card-text {
  word-wrap: break-word;
}
.card-body:hover .postcard__title {
  color: var(--main-red);
  font-weight:bold;
}

.card-body:hover .card-bar {
  width: 80%;
}

.objectives-card .card-body{
  padding:1rem !important;
}

.quote-container {
  font-family: "Lato", sans-serif;
  text-align: center;
  color: #333;
  margin: 5% 10%;
}
.icon {
  display: block;
  margin: auto;
  width: 10%;
}

.support-content{
  padding:1.2rem;
}

.support-content#support-left{
  background-color: #f39da0;
  border-radius: 10px 0 0 10px;
}

.support-content#support-right{
  background-color: #ecb6b7; 
  border-radius: 0 10px 10px 0;
}

#support-left .btn-style,#support-right .btn-style{
  border-radius: 10px
}

#quote {
  font-size: 1.7rem;
}

@media screen and (max-width: 900px) {
  .card {
    flex-wrap: inherit;
    max-width: 100%;
    max-height: 100%;
  }
  .card.postcard__title {
    font-size: 2rem;
  }

  .card .postcard__img {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s ease;
  }

  .card .card-text {
    width: 100%;
    word-wrap: break-word;
  }

  .card :hover .postcard__img {
    transform: scale(1.1);
  }

  .card :nth-child(2n + 1) {
    flex-direction: row;
  }

  .card:nth-child(2n + 0) {
    flex-direction: row-reverse;
  }

  .card:nth-child(2n + 1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }

  .card:nth-child(2n + 0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }

  .support-content#support-left{
    border-radius: 10px 10px 0 0 ;
  }
  
  .support-content#support-right{
    border-radius: 0 0 10px 10px ;
  } 
}
