:root {
  --main-color: #e96d71;
  --dark-main-color: #e24146;
  --light-main-color: #FF777C;
  --lighter-main-color: #ecb6b7;
  --light-bg-color: #f1f0f0;
  --dark-bg-color: #747474;
}

@font-face {
  font-family: "SF-UI-Display";
  font-style: normal;
  src: url("./fonts/SF-UI-Display-Regular.woff2") format("woff2"), 
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("./fonts/SF-UI-Display-Regular.woff") format("woff"),
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+*/
      url("./fonts/SF-UI-Display-Regular.ttf") format("truetype");
}


@font-face {
  font-family: "Humanist";
  font-style: normal;
  src: 
  url("./fonts/Humanist.woff2") format("woff2"), 
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("./fonts/Humanist.woff") format("woff"),
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+*/
  url("./fonts/Humanist.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  src: url("./fonts/Poppins-Regular.woff2") format("woff2"), 
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("./fonts/Poppins-Regular.woff") format("woff"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url("./fonts/Poppins-Regular.ttf")  format("truetype");
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Poppins";
}

p{
  font-family: "SF-UI-Display";
}

#title {
  font-family: "Humanist";
  font-weight: 200;
  font-size: 1.3rem;
}

.navbar-brand {
  color: var(--dark-main-color);
}

.subheading-text {
  color: var(--light-main-color);
}
.heading-text {
  color: var(--main-color);
  font-weight: bold;
}
.nav-item{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link {
  color: var(--main-color);
  display: inline-block;
  position: relative;
  margin: 0px 10px;
  text-align: center;
}
.nav-link:hover,
.dropdown-item:hover {
  color: var(--dark-main-color);
}

.active {
  color: var(--dark-main-color);
  font-weight: bold;
}

.nav-link:after {
  content: "";
  background: none repeat scroll 0 0 transparent;
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: var(--dark-main-color);
  transition: width 0.25s ease-out, left 0.3s ease 0s;
}

#navbarDropdown:after {
  content: none;
}
#navbarDropdown:hover:after {
  content: none;
}
.navbar {
  background-image: none;
}

.nav-link:hover:after {
  width: 100%;
  left: 0;
}

#donate-link {
  background-color: var(--main-color);
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 5px;
  border: 2px solid #ffffff;
}

#donate-link:hover {
  background-color: #ffffff;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

.footer {
  background-color: var(--main-color);
  position: relative;
  color: #ffffff;
}
.footer a:hover {
  text-decoration: none;
}

.icon {
  background-color: white;
}

.header-title{
  background-color: var(--main-color);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 50px 10%;
}

.header-mini {
  background-color: var(--main-color);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  font-size: 3em;
  padding: 50px 10%;
}

.mini-title {
  color: var(--main-color);
}

.p-content {
  text-align: justify;
}

.dropdown-item {
  color: var(--main-color);
}

.navbar {
  border-bottom: 1px solid var(--main-color);
}

.light {
  background: var(--light-bg-color);
}

.main-color-bg {
  background: var(--main-color);
}

.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-submenu:hover > a {
  background-color: #f0dfe0;
}

.btn-primary {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 20px;
}
.btn-style a {
  text-decoration: none;
  color: #ffffff;
}

.btn-style:hover,
.btn-style:focus,
.btn-style:active {
  background-color: #e24146 !important;
  border: 1px solid #e96d71;
  border-radius: 20px;
}
